/* google fonts import  */
/* 1. Jost */
/* 2. Inter */
/* 3. Josefin Sans */
/* 4. Lato */
/* 5. Noto Sans used to replace segoe ui*/
/* 6. Nunito Sans */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Jost:ital,wght@0,100..900;1,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

/* Reset CSS for all landing page(index.html) fonts*/
* {
    margin: 0 ;
    padding: 0 ; ;
    box-sizing: border-box;
    /* font-family:"Lato", sans-serif;  */
}

html {
    scroll-behavior: smooth;
}

.navbar li a{
    font-family: "Jost" sans-serif;
    font-weight: 500;
    font-weight: 16px;
    line-height: 100%;
}
.nav-item {
    font-family: "Jost", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
}
.navbar {
      padding: 1rem;
    }
.navbar-nav {
      gap: 1.5rem;
    }
.icon-links a {
      color: #000;
      font-size: 1.2rem;
      margin-left: 1rem;
    }
.navbar-brand img {
      height: 40px;
    }
/* END CODE FOR NAV  */

    /* styling for index.html starts here LOGIN FORM*/
    .index{
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        font-family: "Noto Sans", sans-serif; 
        height: 750px;

    }
    .order-md-2{
        border-right: 1px solid #F3F0F0;
        height: 500px;
        /* padding-top: 20px; */
    }
    .loginEmail, .password,.login-Btn{
        width: 500px;
        height: 45px;
        border: 1px solid #BD3A3A;
        border-radius: 10px;
        outline:#BD3A3A;
        padding: 2px 15px;
        font-size: 18px;
        font-weight: 100 !important;
        line-height: 100%;
    }
    #form-label{
        font-weight: 400 !important;
        font-size: 16px;
        line-height: 100%;
        color: #000000;
    }
    .login-form{
        width: 500px;
        height: 450px;
    }
    .form-check-input{
    width: 30px;
    height: 25px;
    border: 1px solid #B0B0B0;
    }
    .index-login {
        color: #212121;
        font-weight: 700;
        font-size: 26px;
    }
    .fg-index{
        font-size: 16px;
        font-weight: 400;
        color: #000000;
        line-height: 100%;
        letter-spacing: 0%;
    }
    .login-Btn{
        height: 55px !important;
        background-color: #BD3A3A;
        color: #FFFFFF;        font-size: 16px;
        font-weight: 700 !important;    
    }
    .signup-padding{
        padding-bottom: 19% !important;
    }
    /* END CODE FOR LOGIN INDEX.HTML  */


    /* footer styling 1 starts here  */
  

   /* this is a default button for the product  */
.all-btn{
    font-family: "Jost", sans-serif;
    background-color: transparent;
    font-weight: 700;
    font-size: 18.56px;
    line-height: 100%;
    border: 2px solid #000;
    width: 237px;
    height: 56px;
}

.all-anchor{
    font-family: "Jost", sans-serif;
}

.mail-span{
    position: relative;
    font-family: "Jost", sans-serif;
}
/* footer contact email  */
.font-seog{
    font-family: "Noto-Sans", sans-serif !important;
}


.footer-font{
    font-family: "Jost", sans-serif;
}
.contact-mail {
   width: 320px;
    height: 56px;
    padding: 10px;
    border:0.7px  solid #FFFFFF;
    border-radius: 5px;
    font-size: 19px;
    margin-bottom: 20px;
    background-color: transparent;
    outline: none;
    color: #fff;
}
.email-btn{
    position: absolute;
    top: 24px;
    right: 1px;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    cursor: pointer; 
}
 ::placeholder {
    color: #fff;
    font-family: "jost", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    /* background-color: ; */
}
/* styling for arrow icon in footer email, with button as arrow */
.btn-arr{
    position: absolute;
    top: -21px;
    right: 0px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
    cursor: pointer; 
}

/* styling for all anchor-buttons that have arrow icon links  */
.arrow-btn{
    position: absolute;
    top: 4px;
    right: -15px;
    padding: 16px 30px 16px 10px;
    color: black !important;
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
}
/* styling for the a-tag  with arrow icons   */
.btn-tag{
    position: relative;
    width: 90px !important;
    padding: 16px 40px 16px 10px;
    color: black !important;
    text-decoration: none;
    border: 1px solid #424242;
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
}

.contact-info{
    font-family: "Nunito Sans", sans-serif;
}
.fa-facebook, 
.fa-instagram,
.fa-twitter ,
.fa-youtube {
    border-radius: 100%;
    background-color: #fff;
    padding: 25px 10px;
}
hr{
    border: 2px solid #fff;
    width: 100%;
    
}
.copyright{
    font-family: "Jost", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #fff;
}
/* FOOTER STYLING ENDS HERE  */


/*FIRST LANDING PAGE STYLING STARTS HERE */
/* SECTION 1 STARTS HERE */
 .sec1{
    margin-top: 100px;
   }
.sec1-p {
    font-family: "Jost", sans-serif;
    font-weight: 350;
    font-size: 26px;
    line-height: 100%;
    color: #000;
    word-spacing: 0px;
}
.sec1-h {
    font-family: "Jost", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    color: #000;
    word-spacing: 5px;
    letter-spacing: 2px;
}

/* section2 starts here */
/* sec2 typography  */
.sec h2 {
    font-family: "Jost", sans-serif;
    font-weight: 800;
    font-size: 36px;
    line-height: 100%;
    color: #212121;
}
.sec2 .card-title {
    font-family: "Jost", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    color: #000;
}
.sec2 .card-text {
    font-family: "Jost", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #000;
}

/* SECTION 2 STOPS HERE  */

/* SECTION 3 STARTS HERE  */
.sec3 h2{
    font-family: "Jost", sans-serif;
    font-weight: 700;
    font-size: 33px;
    line-height: 100%;
    color: #616161;
}
.sec3 h3{
   color: #212121;
    font-family: "Jost", sans-serif;
    font-weight: 700;
    font-size: 54px !important;
    line-height: 100%;
}
.explore-p{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 140%;
    color: #424242;
}
/* SECTION 3 STOPS HERE  */

/* SECTION 4 STARTS HERE  */
/* rest for the sec4 typography  anchor tag */
.sec4-tag{
    text-decoration: none;
    color: #333333;
    font-family: "Jost", sans-serif;
    font-weight: 400;
    font-size: 25px;
    line-height: 100%;
    margin-bottom: 2px;

}
.sec4-tag:active,
.sec4-tag:focus{
    color: #000;
    text-decoration: underline;
}
.sec4-tag:hover{
    color: #828282;
    text-decoration: none;
}
 .sec4-a{
    text-decoration: none;
    color: #000000;
    font-family: "Jost", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
} 
.sec4-a:hover{
    background-color: #D7000F;
    color: #fff;
}

.sec4 .card-title{
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
    font-size: 16px;    
    line-height: 100%;
    color: #212121;
    text-transform: uppercase;
}
.sec4 .card-text{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    color: #19191D;
}
/* media query for mobile devices */

/* SECTION 5 STARTS HERE */
.sec5 .card-body{
    font-family: "Jost", sans-serif;
    width: 28vw;
    height: 60vh;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    /* box-shadow: rgba(0, 0, 0, 0.07); */
    /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px; */
}
.card-sec5 .d-flex{
    background-color: #E0E0E0;
    width: 22rem;
    font-family: "Jost", sans-serif;
    
}

.card-sec5 span, .card-sec5 .fa-regular{
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #424242;
}
.wade{
    font-weight: 700 !important;
    font-size: 20px !important;
    line-height: 100% !important;
    color: #212121 !important;
}
.sec5 h3{
    font-weight: 700;
    font-size: 26px;
    line-height: 120%;
    color: #212121;
}
.sec5 p{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #424242;
}
/* END CODE FOR FIRST LANDING PAGE */

/* STYLING FOR FIRST BLOG PAGE  */
/* default typography for h5 and p blog section */
.blog-section .card-title{
    font-family: "Noto Sans", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 100%;
    color: #212121;
}
.blog-section .card-text{
    font-weight: 400 !important;
    font-size: 20px;
    color: #424242;
    line-height: 100%;
    /* font-family: "Noto Sans", sans-serif;  */
}

.default-h1{
    font-weight: 700;
    font-size: 48px;
    font-family: "Jost", sans-serif;
}

/* PAGINATION START  */
.page-link{
    width: 43px;
    height: 43px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border: none;
    outline: none;
}
.page-link:hover
{
border: 1px solid #FB8200;
}
/* PAGINATION END  */
/* END FOR FIRST BLOG  */

/* CODE FOR BLOG-HOME SECTION(SECOND BLOG) */
.home-blog{
        font-family: "Noto Sans", sans-serif;
}
.breadcrumb-item{
    font-weight: 400;
    font-size: 17px;
    color: rgba(0, 0, 0, 0.5);
}

.homeBlog-p{
    font-weight: 400 !important;
    font-size: 20px;
    width: 100%;
    color: #424242;
    word-spacing: 1.9px;
    line-height: 100%;
    font-family: "Noto Sans", sans-serif;
    /* text-align: justify; */
    /* text-align-last: justify; */
    /* hyphens: auto; */
}
    .homeHeadng{
        font-size: 48px !important;
        font-weight: 700;
        line-height: 100%;
        font-family: "Noto Sans", sans-serif !important;
}

/* .home-blog styling ends here  */

/* ABOUT US PAGE STARTS HERE  */


.about-p{
    font-weight: 380 !important;
    font-size: 32px;
    line-height: 130%;
    color: #212121;
    font-family: "Noto Sans", sans-serif;

}
.about-card:hover {
    background-color: rgba(189, 58, 58, 0.04);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    font-weight: 350;
    color: #383737;
    font-family: "Noto Sans", sans-serif;
}
.about-h3{
    font-weight: 650;
    font-size: 26px;
    color: #D7000F;
    font-family: "Noto Sans", sans-serif;
}
/* .about-h{
    font-weight: 700;
    font-size: 48px;
    line-height: 100%;
    color: #212121;
    font-family: "Noto Sans", sans-serif;
} */

.about-sec3{
box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
 border-radius: 10px;
}

.about-sec3 .card-text{
    font-size: 16px;
    font-weight: 700;
    color: #19191D;
    font-family: "Jost", sans-serif;
}
.text-p{
    font-weight: 450 !important;
    font-size: 20px;
}
/* .about-sec3 .text-p{

} */
.about-sec3 .men-fash{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 143%;
    letter-spacing: 1.8%;
    color: #787885;
}

.about-sec3 .price{
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    color: #000000DE;
    font-family: "Noto Sans", sans-serif;

}
.about-sec3 .rating{
    font-family: "Roboto ", sans-serif;
    font-weight: 600;
    font-size: 19px;
    line-height: 23%;
    color: #5E6366;
}
/* ABOUT US ENDS HERE  */

/* CONTACT US STYLING STARTS HERE  */
.contact-us h5{
    font-size: 26px;
    font-weight: 700;
    line-height: 100%;
    color: #000000;
    font-family: "Noto Sans", sans-serif;
}

.contact-us p{
    font-size: 19px;
    font-weight: 400;
    line-height: 100%;
    color: #000000;
    font-family: 'Segoe UI', sans-serif;
}

@media screen and (max-width: 600px) {
    .navbar {
        padding: 0.1rem !important;
       /* max-width: 100% !important; */
    }
    body{
        max-width:  100% !important;
    }
   /* styling for login OR INDEX.HTML  */
   .loginEmail, .password, .login-form, .login-Btn{
        width: 99%;
    }
    .form-check-input{
        width: 20px;
        height: 23px;
    }
    .fg-index br{
        display: none;
    }
    .login-form{
        height: 350px;
    }
    .index{
        height: 870px;
    }
    .fg-index{
        font-size: 15px;
    }

    /*END CODE FOR INDEX.HTML LOGIN
    */
   
    /*MEDIA STYLING FOR FIRST LANDING PAGE   */
    .sec1{
        margin-top: 50px;
    }
    .sec1-p{
        font-weight: 350px;
        font-size: 25px !important;
        word-spacing: 0px;
  
    }
    .sec1-h{
        font-weight: 500;
        font-size:28px !important;
    
        word-spacing: 0px;
        padding: 12px 0px;
    }
    .sec1-imgM{
        width: 88%;
        height: 400px;
    }
    .sec2 h2{
        font-size: 24px !important;
        font-weight: 700 !important;
        margin: 50px 0px !important;
        word-spacing: 0px !important;
    }
    /* .sec3 .all-btn{
        text-align: center;
    } */

    .sec3 h2{
        font-size: 30px !important;
        font-weight: 400 !important;
        padding-top: 19px ;
        word-spacing: 0px !important;
    }
    .sec3 h3{
        font-size: 40px !important;
        font-weight: 600 !important;
        padding-top: 4px !important;
    }
    .sec3 .all-btn{
        margin-left: 10px !important;
    }
    .sec3 br{
        display: none !important;
    }
    .collection1{
        width: 97% !important;
        height: 100% !important;
    }
    .collectionb{
        width: 98% !important;
        height: 100% !important;
        margin-bottom: 30px !important;
    }
    .collection2,
    .collection3,
    .collectionb{
        width: 98% !important;
        height: 100% !important;
        padding-bottom: 0px !important;
    }

    .sec4-tag{
        font-size: 20px !important;
        font-weight: 600 !important;
        line-height: 100% !important;
        padding-bottom: 3px !important;
        
    }
    .first-slide{
        width: 100% !important;
    }

    .sec4 .rounded {
        width: 100% !important;
        padding: 0 !important;
    }
     .sec5 .wf,
     .sec5 h3,
     .sec5 p
     {
        padding: 0px 10px !important;
     }
     .sec5 .btn-tag{
        margin-left: 10px;
     }
    .sec5 br{
        display: none !important;
          
     }
    .card-sec5 .d-flex{
        margin-top: 20px;
        width: 100%;
   }
   .wade{
    font-size: 15px !important;
   }
   .sec5 .card-body{
    width: 100%;
    height: 63vh;
   }
   .sec5{
    padding: 2px 15px;
   }
   .sec5 .col-sm-12{
    margin-bottom:30px;
   }
   /* END CODE FOR LANDING PAGE  */

   /* media query for FIRST blog section BLOG.HTML  */
    .blog-section .default-h1{
        font-size: 30px !important;
    }
   .blog-section br{
        display: none !important;
     }
     .blog-section{
        max-width: 100%;
     }
     .blog-section .container{
        padding-top: 0px !important;
        margin-top: 0px !important;
     }
    .blog-section .card-title{
          font-size: 20px !important;
          font-weight: 700 !important;
          line-height: 100% !important;
     }
    .blog-section .card-text{
          font-size: 15px !important;
          font-weight: 500 !important;
          line-height: 100% !important;
          letter-spacing: 1px;
          word-spacing: 0px;
          width: 100%;
     }

     /* ENDS HERE FIRST BLOG  */

     /* media for home blog  */
     .homeHeadng{
        font-size: 28px !important;
        margin: 30px 0px !important;
     }
     .card-home-blog p br{
        display: none
     }
     .card-home-blog p{
        font-size: 18.7px;
        padding: 10px 0;
        margin-bottom: 20px !important;
     }
     /* ends here  */

     /* media for about us page  */
     .ABOUT-PAGE .default-h1{
        margin: 20px !important;
     }
     .about-h{
        text-align: center;
    }
     .about-p{
        font-size: 15px !important;
        text-align: center;
     }

     .about-sec2 .default-h1{
        padding-top: 30px;
        font-size: 25px !important;
        text-align: start;
     }
     
     .about-card{
        width: 100% !important;
        height: 28% !important;
     }
     .about-card {
        background-color: rgba(189, 58, 58, 0.04);
        box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
        font-weight: 350;
        color: #383737;
        font-family: "Noto Sans", sans-serif;
        height: 30%;
    }
    .about-card .down{
        height: 800px !important;
        /* padding-bottom: 0 !important; */
        margin-bottom: 0 !important;
    }
    .about-sec2 .card-body{
        padding: 5px;
    }
    .about-h3{
        padding-top: 3px !important;
    }
    .about-text br{
        display: none;
    }
    .flow-col{
        position: relative;
        top: -50px;
        z-index: 2;
    }
    .flow-col3{
        position: relative;
        top: -90px;
        z-index: 2;
        opacity: 0.9;
    }
    .about-card .middle br{
        display: none;
    }
    .about-card .middle{
        height: 800px !important;
    }
     
    /* ABOUT SEC3 STYLING  */
    .about-sec3{
        position: relative;
        top: -60px;
    }
    .card-aboutUs{
        padding-left: 30px !important;
        margin: 15px 2px;
    }
}

/* media query for device width 768px and above */
@media (min-width: 700px) and (max-width: 790px){
  .index{
        height: 1000px;
    }
    /* section 1 landing page  */
    .sec1-imgL{
        
       width: 300px !important;
    
    }
    .sec1-imgM{
       width: 300px !important;
       height: 430px;
       padding-top: 30px;
    }

    .sec3right-col{
        padding-top: 45px ;
    }
    .sec3-left{
 
        padding: 0px !important;
    }
    .collection1 h2{
        padding-top: 15px !important;
 
    }
    .collection1 h3{
        margin: 0px !important;
        padding: 0px !important;
        font-size: 40px !important;
    }
    .sec3-pad{
        padding: 0px !important;
        height:60% !important;
    }
    .img-col{
        margin-top: 25px !important;
    }
    
}

@media (min-width: 800px) and (max-width: 1240px){
    .index{
        height: 1100px !important;
    }
    .signup-padding{
        padding: 170px !important;
    }    

    /* about page sec3  */
    
}

/* media query for tablet and desktop  */
@media (min-width: 601px) and (max-width: 1200px) {
  /* login  */
    .index{
        height: 1000px;
    }
     
    /* styling for section1 landing page  */
   .sec1 .all-btn {
    margin-right: 0px !important;
   }
   .IMG-SEC {
    margin-top: 70px;
   }
   .sec1-imgL{
    padding-top: 0px !important;
   }
   .sec1-imgR{
    margin-top: 70px !important;
   }
    /* footer  styling for nav list*/
    .footer-col{
        padding-left: 0px !important;
    }
    .col-a{
        flex: 0 0 50%;
        max-width: 30%;
    }
    .col-b{
        flex: 0 0 50%;
        max-width: 30%;
    }
    .col-c{
        flex: 0 0 50%;
        max-width: 30%;
    }
    .col-d{
        padding-top: 50px;
        flex: 0 0 100%;
        padding-left: 30%;
    }

/* media for footer  max-with 1200px    */
    .footer-font h5{
        font-size: 15px !important;
        padding-bottom: 30px;
    }
    .footer-font .form{
        width: 90%;
        margin: 0px;
    }
    .contact-mail{
        margin-left: 0px !important;
    }
    .home-main{
        max-width: 100%;
    }
    /* ends here  */

    /* media for section 3 landing page  */
    .sec3-left{
        height:43.3% !important;
    }
    .collection1 h2{
        padding-top: 15px !important;
        /* height: 100% !important; */
    }
    .collection1 h3{
        margin-top: 15px !important;
    }
    .collection1 p{
        margin-bottom: 13px !important;
        font-size: 20.5px !important;
    }
    .collectionb{
        height: 20% !important;
        margin-top: 5px !important;
        width: 100% !important;
    }
    .sec3-pad .text-center{
        margin-top: 0 !important;
    }
    .sec3-pad{
        margin: 0px !important;
        padding: 0 15px !important;
        
    }
    .sec2 .all-btn {
        width: 200px;
        height: 60px;
        margin-bottom: 60px !important;
        margin-top: 0px !important;
     }

     .collection1 br{
        display: none;
     }
     /* reset for explore more btn  */
     .explore{
        height: 60px !important;
     }
     /* ends  */
     .all-btn{
        width: 50%;
        height: 90px;
     }
     .sec3 .text-center{
        margin-top: 10px !important;
        padding-top: 0 !important;
     }
     .collection2{
        margin: 0 !important;
     }
     .collection3{
        margin-top: 30px !important;
     }
    
    /* ends here  */
     .sec3-left{
        height: 360px !important;
     }
     .sec3 h2{
        font-size: 25px;
     }
     .sec3 h3{
        font-size: 40px !important;
        margin-bottom: 10px !important;
     }
     .sec3 p{
        font-size: 20px !important;
        /* margin-bottom: 5px !important; */
     }
     .sec3 .all-btn {
        width: 200px;
        height: 60px;
        margin-top: 30px !important;
     }

    /* section 5 landing page  */
    /* .sec5 br{
        display: none;
    } */
    .sec5 .card-body{
        width: 100%;
        height: 600px;
        padding-left: 0px !important;
    }
    .sec5 br{
        display: none;
    }

    .card-sec5 .d-flex{
        width: 100%;
    }
    /* section 5 ENDS HERE  */

    /* QUERY FOR LOGIN FORM STARTS HERE  */
    .order-md-2, .order-md-1{
        width: 100% !important;
        text-align: center;
    }
    .loginEmail, .password, .login-form, .login-Btn{
        width: 100% !important;
    }
    .Signup-2{
    text-align: center !important;    
    }
    .login-form{
        height: 350px;
    }
    /* ENDS HERE  */
}
